StateMachine.asl.yaml
StartAt: Start
States:
  Start:
    Type: Pass
    Next: TaskState
  TaskState:
    Type: Task
    Next: Done
    Resource: arn:aws:states:::ecs:runTask.sync
    Parameters:
      Cluster: default
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: ENABLED
          Subnets:
            - ${DockerTaskSubnet0}
            - ${DockerTaskSubnet1}
            - ${DockerTaskSubnet2}
            - ${DockerTaskSubnet3}
      TaskDefinition: ${DockerTaskArn}
      Overrides:
        ContainerOverrides:
          - Name: '0'
            Environment:
              - Name: COMMENT
                Value.$: $.Comment
  Done:
    Type: Pass
    End: true